{{>header}}
{{>nav}}
<section class="container my-5">
    <div class="my-3">
        <a href="/add" class="btn btn-primary">add</a>
    </div>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>name</th>
                <th>balance</th>
                <th>status</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {{#if isEmpty}}
            <tr>
                <td colspan="5" class="alert alert-danger">no users to show</td>
            </tr>
            {{/if}}

            {{#each allusers}}
            <tr>
                <td>{{this.accountnumber}}</td>
                <td>{{this.name}}</td>
                <td>{{this.balance}}</td>
                <td>{{this.status}}
                    <a href="changestatus/{{this.accountnumber}}" class="btn btn-outline-secondary mx-3">Change Status</a>
                </td>
                <td>
                    {{#if this.status}}
                    <a href="withdep/2/{{this.accountnumber}}" class="btn btn-warning mx-3">deposit</a>
                    <a href="withdep/1/{{this.accountnumber}}" class="btn btn-warning mx-3">withdraw</a>
                    <a href="edit/{{this.accountnumber}}" class="btn btn-warning mx-3">edit</a>
                    <a href="delete/{{this.accountnumber}}" class="btn btn-danger mx-3">delete</a>
                    {{/if}}

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
